-i https://pypi.python.org/simple/
backports.functools-lru-cache==1.6.1 ; python_version < '3'
bcrypt==3.1.7
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
enum34==1.1.10 ; python_version < '3'
gevent==1.2.2
greenlet==0.4.17
idna==2.6
ipaddress==1.0.23 ; python_version < '3'
msgpack-python==0.4.8
netaddr==0.7.19
ntlm-auth==1.5.0
paramiko==2.3.1
pyasn1==0.3.7
pycparser==2.20
pycrypto==2.6.1
pylnk==0.2
pynacl==1.4.0
pyopenssl==17.3.0
requests-ntlm==1.1.0
requests==2.18.4
selenium==3.141.0
six==1.11.0
soupsieve==1.9.6 ; python_version < '3.0'
splinter==0.7.6
termcolor==1.1.0
urllib3==1.22
xmltodict==0.11.0
